__pycache__
*.swp
.env
output.json
test_large.py
test_file2.py

/CodeCity/.vs/CodeCity
/CodeCity/obj/Debug
/CodeCity/Temp
/.vs
/CodeCity/Library
/CodeCity/Logs
/CodeCity/.vs

# Allow output.json for deployment until better solutions are found
!docweb/public/output.json
